@model IEnumerable<SISCO_SAYACv3._5.Models.Usuarios>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.contrasena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.correo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contrasena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.correo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UsuariosId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UsuariosId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UsuariosId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
