@model SISCO_SAYACv3._5.Models.Contratistas

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Delete</h1>

<h3>Estas seguro que quieres eliminar este campo, podria perder informacion crucial?</h3>
<div>
    <h4>Contratistas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipo_documento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipo_documento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numero_identificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numero_identificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.primer_nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.primer_nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.segundo_nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.segundo_nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.primer_apellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.primer_apellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.segundo_apellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.segundo_apellido)
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.correo_electronico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.correo_electronico)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ContratistasId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
