@model SISCO_SAYACv3._5.Models.Reportes

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>
<br />
<p>
    <a asp-action="ExportV3">Descargar Reporte</a>
</p>

<div>
    <h4>Reportes</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.nombre_reportes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nombre_reportes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.fecha_reportes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.fecha_reportes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.observacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.observacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contratos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contratos.ContratosId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ReportesId">Edit</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>
