@model SISCO_SAYACv3._5.Models.Obras

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>Estas seguro que quieres eliminar este campo, podria perder informacion crucial?</h3>
<div>
    <h4>Obras</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre_obra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre_obra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipo_obra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipo_obra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.direccion_obra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.direccion_obra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contratos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contratos.ContratosId)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ObrasId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
