@model SISCO_SAYACv3._5.Models.Obras

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div>
    <h4>Obras</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre_obra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre_obra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipo_obra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipo_obra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.direccion_obra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.direccion_obra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contratistas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contratistas.numero_identificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contratos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contratos.ContratosId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ObrasId">Editar</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>
