@model SISCO_SAYACv3._5.Models.Auditorias

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>Estas seguro que quieres eliminar este campo, podria perder informacion crucial?</h3>
<div>
    <h4>Auditorias</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha_Inicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha_Inicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha_Final)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha_Final)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuarios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuarios.UsuariosId)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="AuditoriasId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
