@model IEnumerable<SISCO_SAYACv3._5.Models.Auditorias>

@{
    ViewData["Title"] = "Auditorias";
}

<h1>Auditorias</h1>

<p>
    <a asp-action="Create">Crear un nuevo campo</a>
</p>
<form asp-controller="Auditorias" asp-action="Index" method="get">

    <p>
        Fecha inicio: <input type="date" name="SearchString" />

        <input type="submit" value="Filtrar" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha_Inicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha_Final)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuarios)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_Inicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_Final)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuarios.UsuariosId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AuditoriasId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AuditoriasId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AuditoriasId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
